extends ../layouts/default

block pages
	.app-page(data-page='home')
		//- .app-topbar
		//- 	.app-title fluxa-cam
		.app-content
			.app-section#image
				img(src='img/cam.gif').cam-img
			.app-section
				.app-button.green#btCapture Capture

block scripts
	script.
		App.controller('home', function (page) {
			// Setup buttons
			$(page).find('#btCapture').on('click', function(){
				spinnerSpin();
				$.post('/capture', {}, function(data) {
					var imgPath = 'img/cam.gif';
					if(data && data.success) {
						imgPath = 'img/temp/'+data.filename+'?ts='+data.ts;
					}
					$('.cam-img').off();
					$('.cam-img')
					.on('load', function(){
						spinner.stop();
					})
					.on('error', function(err) {
						spinner.stop();
						$('.cam-img').attr('src','img/cam.gif');
					})
					.attr('src',imgPath);
				})
			});	
		});
		
		try {
			App.restore();
		} catch (err) {
			App.load('home');
		}
			
		function spinnerSpin() {
			var target = $('#image')[0];
			spinner.spin(target);
		}

		(function(){
			
		})();
