head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")

	title= pkg.name + ' - ' + title
	meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
	meta(name="keywords", content=pkg.keywords.join(','))
	meta(name="description", content=pkg.description)

	link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

	link(rel="stylesheet", href="appjs/app.min.css")
	link(rel="stylesheet", href="css/main.css")
